body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Al menos 100% de la altura de la ventana de visualización */
    text-align: justify;
}

.container {
    flex: 1; /* Esto hará que el contenedor ocupe el espacio restante vertical */
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px; /* Añadir margen lateral */
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
    top: 0;
    z-index: 1000;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center; /* Centrar los elementos horizontalmente */
    align-items: center;
}

.profile-image img {
    border-radius: 50%;
    max-width: 100px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.mobile-header {
    text-align: center;
    margin-bottom: 20px;
}

.mobile-header img {
    border-radius: 50%;
    max-width: 100px;
}

.about,
.knowledge,
.experience,
.personal-projects {
    margin: 20px 0;
}

h2 {
    color: #3498db;
}

.job {
    margin-bottom: 20px;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin-top: auto;
}

body a {
    color: #3498db; /* Color predeterminado para los enlaces */
    text-decoration: none;
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

body a:hover {
    color: #e74c3c; /* Cambio de color al pasar el ratón sobre el enlace */
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }

    header {
        background-color: #444;
    }

    footer {
        background-color: #444;
    }

}


@media screen and (max-width: 768px) {

    body {
        padding: 10px;
    }

    .container {
        padding: 0;
    }

    header {
        display: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navbar {
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }

    .navbar ul {
        flex-direction: column;
        text-align: center;
    }

    .navbar a {
        margin-bottom: 10px;
    }

    .profile-image img {
        max-width: 70px;
    }

    .about,
    .experience,
    .knowledge,
    .projects,
    .contact {
        margin: 10px 0;
    }

    footer {
        margin-top: 20px;
    }

    .mobile-header img {
        max-width: 70px;
        margin-bottom: 10px;
    }
}
